<div class="form-group row" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :first_name, input_html: { class: 'form-control',
      placeholder: 'Nombre' }, required: true %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :last_name, input_html: { class: 'form-control',
      placeholder: 'Apellido' }, required: true %>
  </div>
</div>
<div class="form-group row" style="padding:10px;margin:0">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :email, input_html: { class: 'form-control',
      placeholder: 'Correo electrónico' }, required: true %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <%= f.input :role, collection: User.roles.collect { |r| [User.human_attribute_name("role.#{r[0]}"), r[0]] },
      input_html: { class: 'form-control ctype' }, prompt: 'Tipo de usuario' %>
  </div>
</div>
<% if current_user.admin? %>
  <div class="form-group row" style="padding:10px;margin:0">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= f.input :active, collection: [['Activo', true],['Inactivo', false]],
        as: :radio_buttons, item_wrapper_class: 'inline', required: true %>
    </div>
  </div>
<% end %>
<div class="form-actions row">
  <div class="col-md-5">
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>
</div>
