<div style="width:90%;margin:auto">
    <center><h1><%= @response.survey.title %></h1></center>
    <p><%= @response.survey.description %></p>
    <input disabled type="hidden" name="response[survey_id]" value="<%= @response.survey.id %>">
    <% index = 0 %>
    <center><h2>Preguntas demográficas</h2></center>
    <% @response.survey.questions.ver_radio.each_with_index do |q, i| %>
      <input disabled type="hidden" name="response[answers_attributes][<%=index%>][question_id]"
        value="<%= q.id %>">
      <h4><%= i + 1 %>. <%= q.title %></h4>
      <% q.options.each_with_index do |o| %>
        <% if @response.answers.find_by(question:q).options.map(&:id).include?(o.id) %>
          <div>
            <input disabled type="radio" id="response_answers_attributes_<%=index%>_option_ids_<%=o.id%>"
              name="response[answers_attributes][<%=index%>][option_ids][]" value="<%=o.id%>"
              checked="<%= @response.answers.find_by(question:q).options.map(&:id).include?(o.id) %>"/>
            <label for="response_answers_attributes_<%=index%>_option_ids_<%=o.id%>"><span></span><%= o.title if o.title.present? %></label>
          </div>
        <% end %>
      <% end %>
      <% index += 1 %>
    <% end %>
    <center><h2>Cuestionario</h2></center>
    <% @response.survey.questions.hor_radio.each_with_index do |q, i| %>
      <input disabled type="hidden" name="response[answers_attributes][<%=index%>][question_id]"
        value="<%= q.id %>">
      <h4><%= i + 1 %>. <%= q.title %></h4>
      <% q.options.each_with_index do |o, j| %>
        <% if @response.answers.find_by(question:q).options.map(&:id).include?(o.id) %>
          <input disabled type="radio" id="response_answers_attributes_<%=index%>_option_ids_<%=o.id%>"
            name="response[answers_attributes][<%=index%>][option_ids][]" value="<%=o.id%>"
            checked="<%= @response.answers.find_by(question:q).options.map(&:id).include?(o.id) %>" />
          <label for="response_answers_attributes_<%=index%>_option_ids_<%=o.id%>"><span></span><%= o.title if o.title.present? %></label>
        <% end %>
      <% end %>
      <% index += 1 %>
    <% end %>
    <center><h2>Preguntas abiertas</h2></center>
    <% @response.survey.questions.text.each_with_index do |q, i| %>
      <input disabled type="hidden" name="response[answers_attributes][<%=index%>][question_id]" value="<%= q.id %>">
      <h4><%= i + 1 %>. <%= q.title %></h4>
      <textarea disabled name="response[answers_attributes][<%=index%>][a_text]" class="form-control" rows="5">
        <%= @response.answers.find_by(question: q).a_text %>
      </textarea>
      <% index += 1 %>
    <% end %>
</div>
