<%= simple_form_for(@survey, url: create_or_update_surveys_path, method: :post) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <h3>FORMATO ESCALA RESPUESTA</h3>
    </div>
    <div class="col-md-6">
      <!-- <div class="links"> -->
        <%#= link_to_add_association raw("<i class='fa fa-plus'></i>"), f, :question_defaults,
          class: 'btn btn-success pull-right', partial: 'question_default_fields',
          'data-association-insertion-method': 'append',
          'data-association-insertion-node': '.table-items' %>
      <!-- </div> -->
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :company_id, collection: Company.all.collect {|p| [p.name, p.id]}.sort {|a,b| a<=>b},
        selected: @current_company, input_html: { class: 'form-control cia-scale', 'data-placeholder': 'Empresa' },
        label: 'NOMBRE EMPRESA', required: true %>
    </div>
    <div class="col-md-6">
      <%= f.input :s_type, collection: Survey.s_types.collect { |ct| [Survey.human_attribute_name("s_type.#{ct[0]}"), ct[0]] },
        selected: @current_s_type, required: true, label: 'TIPO ENCUESTA',
        input_html: { class: 'form-control cia-type' } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :questionnaire_scale, collection: Survey.questionnaire_scales.collect { |ct| [Survey.human_attribute_name("questionnaire_scale.#{ct[0]}"), ct[0]] },
        checked: @current_q_scale, as: :radio_buttons, item_wrapper_class: 'radio-inline',
        required: true, label: 'ESCALA GENERAL CUESTIONARIO', input_html: { class: 'qscale' } %>
    </div>
    <div class="col-md-6">
      <%= f.input :default_alignment, collection: [['Vertical', true],['Horizontal', false]],
        as: :radio_buttons, item_wrapper_class: 'radio-inline',
        required: true, label: 'ALINEACIÓN ALTERNATIVAS', input_html: { class: 'dalignment' } %>
    </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead class="red-head">
      <tr>
        <th class="col-md-2">ESCALA GENERAL</th>
        <th>LEYENDA</th>
      </tr>
    </thead>
    <tbody class="table-items">
      <%= f.simple_fields_for :question_defaults do |question_default| %>
        <%= render 'question_default_fields', f: question_default if question_default.object.q_type == @current_q_scale %>
      <% end %>
    </tbody>
  </table>
  <%= f.submit 'Guardar', class: 'btn btn-danger pull-right' %>
<% end %>
