<div style="width:90%;margin:auto">
  <center><h2>Preguntas demográficas</h2></center>
  <br><br>
  <% @survey.questions.demo.order(order: :asc).each_with_index do |q, i| %>
    <div class="col-md-6">
      <h4><%= i + 1 %>. <%= '* ' if q.required %><%= q.title %></h4>
      <% q.options.each_with_index do |o, j| %>
        <div>
          <input type="radio" id="question_<%= i+1 %>_option_<%= j+1 %>" name="question_<%= i+1 %>" />
          <label for="question_<%= i+1 %>_option_<%= j+1 %>"><span></span><%= o.title if o.title.present? %></label>
        </div>
      <% end %>
    </div>
    <% if i % 2 != 0 %><div class="clearfix"></div><br><% end %>
  <% end %>
  <br><br>
  <%= link_to 'Siguiente', section2_survey_path, class: 'btn btn-primary pull-right' %>
</div>
