<footer>
  <div class="social row vertical-align">
    <div class="col-md-4 logo">
      <div class="col-md-12">
        <%= image_pack_tag("media/images/logo_red.png", height: '50') %>
      </div>
      <div class="col-md-12">
        excelencia. impacto. productividad.
      </div>
    </div>
    <div class="col-md-4 text-center">
      <ul class="icons d-flex justify-content-center gap-3">
        <li><%= link_to raw("<i class='fab fa-twitter fa-fw'></i>"), "https://twitter.com/comtraining" %></li>
        <li><%= link_to raw("<i class='fab fa-facebook fa-fw'></i>"), "https://www.facebook.com/Comtraining-201714396539810/" %></li>
        <li><%= link_to raw("<i class='fa fa-envelope fa-fw'></i>"), "mailto:info@comtraining.cl" %></li>
        <li><%= link_to raw("<i class='fab fa-linkedin fa-fw'></i>"), "https://www.linkedin.com/company/comtraining-consulting-&-coaching" %></li>
      </ul>
    </div>
    <div class="col-md-4 text-right">
      <ul>
        <li>Copyright &copy; <%= Date.current.year %></li>
        <li>Todos los derechos reservados</li>
      </ul>
    </div>
  </div>
</footer>
